/* Background e logo  */
body{
    background-color: black;
    margin: 0 auto;
}

.Background{
    background-image: url("img/pattern.png");
    height: 100px;
    background-color: #4ea0ff;
    margin: 0 auto;
    padding: 10px;;
    width: 75%;
    align-items: center;
}

#logo{
    width: 20%;
    margin-top: 4%;
}
/* Fine Background e logo  */

/* Inizio Main */

main {
    background-color: white;
    height: 1050px;
    width: 76.4%;
    align-items: center;
    margin: 0 auto;
}

h1{
    font-size: 40px;
    margin: 0 auto;
}
#testo_blu{
    color: #73C9EF;
    font-weight: 650;
    font-size: 18px;
}

#Grass_{
    color:  #878787;
    font-weight: 520;
    font-size: 18px;
}

#Data{
    color:  #878787;
    font-weight: 400;
    font-size: 12px;
}

.photo_description{
    color: black;
    font-size: 12px;
    font-weight: 200;
}

/* inizio tabella */

#first_row{
    background-color: #20AAE5;
    color: white;
}

#second_row{
    background-color: #B1E6F1;
    color: black;
    font-weight: 500;
}

#third_row{
    background-color: white
    color: black;
    font-weight: 500;
}

#fourth_row{
    background-color: #B1E6F1;
    color: black;
    font-weight: 500;
}

/* fine tabella */

.third_section{
    color: black;
    font-weight: 600;
}

/* inizio footer  */

footer{
    background-color: white;
    height: 500px;
    margin: 0 auto;
    width: 76.4%;
    
}

h4{
    color: gray;
    font-weight: 800;
    margin: 0;
}

.immagini_footer{
    width: 200px;
    height: 133px;
}
